
 
  .form{
    padding: 2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 1rem;
    


  }

  .dark-mode:not(.drop-down-btn){

    filter: invert(90%) ;
    
    transition: all 1s;
  }
  .header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    padding: 15px;
    box-shadow: 0 .05rem 15px .1px black;
    background-color: #fff;
    min-width: 100%;
    z-index: 1000;
  }
  .header>h1{
    font-size: 2rem;
  }
  .header>button{
    font-size: 1.5rem;
    border-style: none ;
    background-color: #fff;

    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-content: center;
  }
  .moon-logo{
      width: auto;
    height: 25px;
  
  }

.search-bar{
    width: 400px;
  height: 60px;
    border-radius: .5rem;
    border:1px solid grey ;
    background-color: #fff;
    display: flex;
    justify-content: center;
gap :1rem;
}
.form-dark-theme{
  background-color: hsl(207, 26%, 17%);
}
.search-bar>svg{
    align-self: center;
}
.search-bar>input{
    width: 80%;
   border: none;
   font-size: 1rem;
   /* background-color: #fff; */
   
}
.search{
  background-color: #fff;
}
.search-bar>input:focus{
   outline: none;
}
.search-bar-theme{
  background-color: hsl(209, 23%, 22%);
  border: none;
}
.drop-down-dark{
  background-color: hsl(209, 23%, 22%);
  border: none;

  border-radius: .5rem;
}
.drop-down-dark>p{
  color: hsl(0, 0%, 52%);
}
.drop-down-light{
  background-color: #fff;
  border:1px solid grey ;
  border-radius: .5rem;
}
.input-dark-theme{
  
  background-color: hsl(209, 23%, 22%);
}
.input-dark-theme::placeholder{
  color: hsl(0, 0%, 52%);}
.arrow-rotate{
    transform: rotate(3.142rad);
}
.drop-down-btn{
    width: 250px;
    height: 50px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    padding: 1rem;
   
}
.drop-down{
    position: absolute;
    width: 250px;
    list-style: none;
   margin-top: 1rem;
    background-color: #fff;
    border:1px solid grey ;
    border-radius: .5rem;
    transform: translateY(-125px) scaleY(0);
  text-align: left;
  /* padding-left: 1rem; */
   transition: all  .5s;
  
  z-index: 1000;

     }
   
    
    
    .drop-down>li{
     padding: 1rem;
      cursor: pointer;
        font-size: 1.2rem
        /* display: none; */
     }
     .drop-down>li:hover{
      border: 2px solid;
     }
     .menu-down{
       
       transform: none;
       
     }
     .menu-dark-theme{
      background-color: hsl(209, 23%, 22%);
      border: none;
      color: hsl(0, 0%, 52%);
     }
    .country-card{
       min-height: 450px;
       max-height: 350px;
       min-width: 300px;
       max-width: 200px;
       background-position: top;
       background-repeat: no-repeat;
       background-size: contain;
      background-color: #fff;
       border-radius: .5rem;
       box-shadow: 0 0 20px 1px grey;
       display: grid;
      align-content: end;
      font-size: 1.2rem;
      place-items: center;
     animation: fadeIn 2s;
     cursor: pointer;
     text-decoration: none;
     color: black;
     
      
    }
    .flag-img{
      width: 500px;
      height: 300px;
      animation: fadeIn 2s;
    }
    .dark-flag-img{
      box-shadow: none;
    }
    .light-flag-img{
    box-shadow: 0 0 20px 1px;
  }
    @keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
      }
   
    .country-card>p{
        margin: .5rem 0;
    }

    .country-card>h2{
        margin-bottom: .5rem;
    }
    .dark-theme-card{
      background-color: hsl(209, 23%, 22%);
      box-shadow: none;
      color: hsl(0, 0%, 100%);
    }
    .dark-main-theme span{
      color: hsl(0, 10%, 92%);

    }
    .main{
        /* display: grid;
        grid-template-columns: repeat(4,1fr); */
        display: flex;
        flex-flow: row wrap;
       justify-content: center;
       /* padding: .5rem; */
         row-gap: 5rem;
         column-gap: 3rem;
        padding-top: 4rem;
    }
    .dark-main-theme{
      background-color: hsl(207, 26%, 17%);
    }
.back-btn{
 
  font-size: 1.5rem;
  display: flex;
  width: 180px;
  height: 60px;
  justify-content: center;
padding-right: 1.5rem;
gap: 1rem;
border-radius: .3rem;
border: none;
box-shadow: 0 0 1rem .1rem black;
 grid-area: btn;

text-decoration: none;
}
.light-theme-btn{
  background-color: #fff;
  color: black;
}
.dark-theme-btn{
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 10%, 92%);
}
.back-btn>p{
  align-self: center;
}
.back-btn>svg{
  align-self: center;
}
.btn{
  text-decoration: none;
  color: black;
  background-color: #fff;
  font-size: 1.5rem;
  border-radius: .3rem;
border: none;
box-shadow: 0 0 1rem .1rem black;
padding:.2rem .5rem;
}
.dark-border-btn{
  background-color: hsl(209, 23%, 22%);
  box-shadow: none;
}
.dark-border-btn:hover{
  box-shadow: 0 0 1rem .1rem black;

}

.country-detail{
  display: grid;
  width: 100%;
  min-height: inherit;
  padding: 3rem;

  grid-template-areas: "btn btn"
                        "img article";
  gap: 2rem;
}
.dark-detail-theme{
  color: hsl(0, 0%, 100%);
  background-color: hsl(207, 26%, 17%);
 
}
.dark-detail-theme span{
  color: rgb(133, 134, 135);
}
.article{
  grid-area: article;
display: grid;
animation: fadeIn 2s;
/* grid-template-areas: 'heading extrainfo'
                       'borders borders'; */
  /* width: 50%; */
  
}
.article>h1{
  font-size: 3rem;
}
.article p{
  font-size: 1.5rem;
  line-height: 3rem;
}
.container{
  display:flex;
  gap: 6rem;
}

.borders{
 
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
  /* margin-top: 2rem; */
}
.loading{
  font-size: 2.5rem;
  font-weight: 400;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(50%-50px) translateY(50%-50px);
}
.headerDarkMode p,.headerDarkMode,.headerDarkMode>button{
  color: hsl(0, 1%, 86%);
  background-color: hsl(209, 23%, 22%);
}




@media (max-width:375px) {
    .header>h1{
        font-size: 1rem;
    }
    .header>button{
      font-size: 1rem;
      gap: .5rem;
    }
   .moon-logo{
    height: 15px;
   }
   .search-bar{
    max-width: 100%;
   }
    
   .form{
    flex-direction: column;
   padding: 1rem;
   row-gap: 1rem;
   }
   .drop-down-btn{
    width: 200px;
    font-size: 1rem;
    }
  
 
    .country-card{
        padding: 0;
        min-width: 100%;
    }
    .country-detail{
      grid-template-areas: "btn"
      "img"
      "article";
      padding: 0;
    }
    .article>h1{
      line-height: 6rem;
    }
    .container{
      flex-direction: column;
      gap: 2.5rem;
    }
    .borders{
    
    }
    .back-btn{
      width: 140px;
      
    }

  }
 
  @media (max-width:860px) {
    .article>h1{
      font-size: 2rem;
    }
    .country-detail{
      grid-template-areas: "btn"
      "img"
      "article";
    
      /* padding: 0; */
    }
  }
  @media (max-width:680px) {
    .container{
      flex-direction: column;
      gap: 2rem;
      margin-bottom: 2rem;
    }
    .header>h1{
      font-size: 1rem;
    }
    .header>button{
      font-size: 1rem;
    }
    .back-btn{
      width: 140px;
      height: 40px;
    }
    .flag-img{
      width: 350px;
      height: 200px;
    }
    .loading{
      font-size: 2rem;
    }
    
  }